@import url('https://fonts.googleapis.com/css2?family=Sen:wght@500&display=swap');

body{
    margin: 0px !important;
    padding: 0px !important;
}
main{
    margin: 0px !important;
    padding: 0px !important;
}

.navbar {
    background-color: #7e4023 !important;
    font-family: 'Sen', sans-serif;

}


.navbar li {
    margin: 0 20px;
}
.navbar li:hover{
    background-color: #988bc5;
    border-radius: 20px;
}

.footer{
    background-color: #7e4023 !important;
    color: white !important;
    font-family: 'Sen', sans-serif;
    margin-top: 10%;
    bottom: 0;

}
.footer ul{
    padding-top: 10px;
}
.footer p{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 655px) {
    .navbar{
        text-align: center !important;
    }
    .navbar li {
        width: 100%;
    }
    .logo{
        display: none !important;
    }

}







